@model AntAbstract.Domain.Entities.Tenant

@{
    ViewData["Title"] = "Yeni Kongre Oluştur";
}

<h1 class="display-5">@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Slug" class="control-label fw-bold"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label fw-bold"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ScientificFieldId" class="control-label fw-bold">Bilimsel Alan</label>
                <select asp-for="ScientificFieldId" class="form-control" asp-items="ViewBag.ScientificFieldId">
                    <option value="">-- Alan Seçin --</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CongressTypeId" class="control-label fw-bold">Kongre Türü</label>
                <select asp-for="CongressTypeId" class="form-control" asp-items="ViewBag.CongressTypeId">
                    <option value="">-- Tür Seçin --</option>
                </select>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Oluştur" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-secondary">Listeye Geri Dön</a>
            </div>

            <div class="form-group mb-3">
                <label asp-for="LogoUrl" class="control-label fw-bold">Logo Resim URL'si</label>
                <input asp-for="LogoUrl" class="form-control" />
                <span asp-validation-for="LogoUrl" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>