@model IEnumerable<AntAbstract.Domain.Entities.Tenant>
@{
    ViewData["Title"] = "Kongreler";
}

<h1>@ViewData["Title"]</h1>
<p><a asp-action="Create">Yeni Kongre Oluştur</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Kongre Adı</th>
            <th>Kısa Ad (Slug)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Slug</td>
                <td>
                    @* İleride Edit/Details/Delete linkleri buraya gelecek *@
                </td>
            </tr>
        }
    </tbody>
</table>