@model AntAbstract.Domain.Entities.Submission
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="text-danger">@Localizer["PageTitle"]</h1>
<h3>@Localizer["ConfirmationMessage", Model.Title]</h3>
<hr />

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubmissionId" />
        <button type="submit" class="btn btn-danger">@Localizer["DeleteButton"]</button>
        <a asp-action="Index" class="btn btn-secondary">@Localizer["CancelButton"]</a>
    </form>
</div>