@inject AntAbstract.Infrastructure.Context.TenantContext Tc

@{
    // Eğer bir kongre seçiliyse, sayfa başlığı o kongrenin adı olsun
    ViewData["Title"] = Tc.Current?.Name ?? "Ana Sayfa";
}

@if (Tc.Current != null)
{
    <div class="text-center">
        <h1 class="display-4">@Tc.Current.Name'e Hoş Geldiniz</h1>
        <p class="lead">Bu kongre için yönetimsel işlemlerinizi menüden yapabilirsiniz.</p>
    </div>
}
else
{
}