@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}
<h1 class="display-5">@Localizer["PageTitle"]</h1>

<p>@Localizer["PageContent"]</p>