<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <!-- 30 MB: profil fotoğrafı (10MB) + belge yüklemeleri (10MB) için yeterli -->
          <requestLimits maxAllowedContentLength="31457280" />
        </requestFiltering>
      </security>
      <aspNetCore processPath=".\AntAbstract.Web.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\stdout" hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
